---
import GlobalLayout from "../layouts/GlobalLayout.astro"
import Proyects from "../components/proyects/Proyects.astro"
---

<GlobalLayout title="Proyects">
    <section class="flex flex-col mb-10 mt-10">
        <h1 class="text-4xl sm:text-5xl font-bold text-center mb-10">
            Proyectos
        </h1>
        <Proyects />
    </section>
</GlobalLayout>

