---

---

<section class="flex flex-col items-start justify-center px-3 sm:px-0">
    <p class="mb-3 text-md sm:text-xl text-pretty">
        Mi nombre es Julio Cuéllar, tengo un año de experiencia en el desarrollo
        web full stack y más de 5 años programando videojuegos de forma
        independiente.
    </p>
</section>
